.blogs-container{
    padding: 20px 100px;
}
.card-container{
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 405px;
    height: 471px;
    background-color: #ffffff;
    box-shadow: #959da5 0px 8px 24px 0px;
    color: #fbfbfb;
    line-height: 24px;
    margin-bottom: 18px;
    cursor: pointer;
    img{
        width: 100%;
        height: 250px;
        object-fit: contain;
        margin: 0 auto;
    }
    .card-h2{
        text-align: center;
        margin: 15px 0px;
        font-size: 26px;
        font-weight: 700;
        line-height: 30px;
        padding: 0px 10px!important;
        color: var(--text-color);
    }
    .card-p{
        text-align: center;
        color: var(--p-color);
        margin-bottom:10px ;
    }
}
.blogs-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.blogs-detail-container{
    max-width: 1300px!important;
    width: 1291px!important;
    display: flex!important;
    padding: 0px!important;
    margin: 0px!important;
    .blogs-populated{
        width: 20.13942680093%;
        margin-right: 20px;
        position: relative;
    }
    .blogs-detail-body{
        width: 54.68628969791%;
    }
    .blogs-other{
        width: 25.17428350116%;
        margin-left: 20px;
        span{
            font-size: 22px;
            font-weight: 700;
        }
    }
}
.blogs-populated-heading{
    width: 100%;
    height: 40px;
    background-color: #f4f4f4;
    font-weight: 700;
    line-height: 24px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    p{
        font-size: 16px;
    }
}
.blogs-populated-list{
    display: flex;
    flex-direction: column;
    ol{
        list-style-type: decimal;
        padding-inline-start: 24px;
    }
    li{
        font-size: 16px; /* Apply font size to the entire list item */
        font-weight: 700;
        margin: 10px 0px;
        line-height: 24px;
        cursor: pointer;
        span{
            white-space: nowrap; /* Prevent wrapping */
            overflow: hidden; /* Hide overflow content */
            text-overflow: ellipsis;
            display: block; /* Make the span a block-level element */
            flex: 1;
        }
    }
    li:first-of-type::marker {
        /* Customize CSS for the first number */
        font-size: 17px; /* Example: Larger font size for the first number */
        font-weight: 900; /* Example: Bolder font weight for the first number */
      }

}
li span:hover{
    color: var(--text-hover);
}
span.activeContent{
    color: red!important;
}
.card-detail-container{
    width: 305px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    img{
        width: 68px;
        height: 68px;
        margin-right: 15px;
    }
    p{
        font-weight: 700;
    }
    p:hover{
        color: var(--text-hover);
    }
}
.blogs-detail-info{
    display: flex;
    justify-content: space-between;
    p{
        font-weight: 700;
    }
    span{
        font-weight: 400!important;
    }
}
