@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
  --text-hover: #0F45FF;
  --text-color: #1b1d21;
  --p-color: #707070;
  font-family: 'Be Vietnam Pro', sans-serif!important;
  background-color: #fbfbfb!important;
}

